@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <h2>Book Store</h2>
                    <h3><i class="fa fa-map-marker"></i>123, Đăk Hà, Kon Tum</h3>
                    <h3><i class="fa fa-envelope"></i>lethanh010820@gmail.com</h3>
                    <h3><i class="fa fa-phone"></i>086-657-1001</h3>
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61796.255328354055!2d107.8961055106738!3d14.526773951383467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316bfb353816cf65%3A0x4e8d4382784389a6!2zdHQuIMSQxINrIEjDoCwgxJDEg2sgSMOgLCBLb24gVHVt!5e0!3m2!1svi!2s!4v1626683600531!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
