    <div class="user">
        <a href="@Url.Action("Giohang","Giohang")" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <span>(@ViewBag.Tongsoluong)</span>
        </a>
    </div>

